<div class="mt-form">


  <p-card>

      <div class="ui-g-8">
        <div class="ui-grid-row">
          <label >Username</label>
                <span class="ui-float-label">
                <input id="float-input" type="text" size="20" pInputText [(ngModel)]="email">

                </span>
        </div>
        <div class="ui-grid-row">
          <br>
        </div>
        <div class="ui-grid-row">
               <span class="ui-float-label">
              <input type="password" pPassword pInputText [(ngModel)]="password"/>
              <label for="float-input">Password</label>
              </span>
        </div>
      </div>
      <div class="ui-g-4">
        <img src="../../../assets/rosie_huntington_whiteley_in_transformers_3-1366x768.jpg" width="120px" height="80px" >
      </div>

      <div class="ui-grid-row">
        <br>
      </div>
    <div class="ui-grid-row" style="text-align: center">
      <p-button (onClick)="login()" label="Ingresar" ></p-button>
    </div>
  </p-card>
</div>
