<div class="mt-form">
  <p-card>
    <div class="ui-grid-row">
      <div class="ui-g-8">
        <div class="ui-grid-row">
                <span class="ui-float-label">
                <input id="float-input" type="text" size="20" pInputText>
                <label for="float-input">Username</label>
                </span>
        </div>
        <div class="ui-grid-row">
          <br>
        </div>
        <div class="ui-grid-row">
               <span class="ui-float-label">
              <input type="password" pPassword />
              <label for="float-input">Password</label>
              </span>
        </div>
      </div>
      <div class="ui-g-4">
        <img src="../../../assets/logo_museo.jpg" width="120px" height="80px" >
      </div>
    </div>
      <div class="ui-grid-row">
        <br>
      </div>
    <div class="ui-grid-row" style="text-align: center">
      <p-button (onClick)="count()" label="Ingresar" ></p-button>
    </div>
  </p-card>
</div>
