<p-card *ngIf="!isQuiz">
  <div style="text-align: center; width: 70%; margin-right: auto; margin-left: auto"><strong>Aulas disponibles</strong></div>

  <p>Seleccione una clase para iniciar la trivia</p>
  <p-table [columns]="cols" [value]="classrooms" selectionMode="single"
           [(selection)]="selectedClassrooom" [rows]="5"
           (onRowSelect)="onClassRoomSelected()"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-userquiz *ngIf="isQuiz"
              [classroomID]="idClassroomSelected"
              (onFinishedTest)="onFinishedTest($event)"

></app-userquiz>
