
<h1>Tipo pregunta 1</h1>


<div class="ui-grid-row" >
  <div class="ui-g-6">

  </div>

  <div class="ui-g-2">
    <label>pregunta:</label>
  </div>
  <div class="ui-g-2">
    <input type="text" size="30" pInputText [(ngModel)]="questionFormat1"/>
  </div>
  <div class="ui-g-2">

  </div>

</div>
<div class="ui-grid-row" >
  <div class="ui-g-6">

  </div>

  <div class="ui-g-2">
    <label>Respuesta:</label>
  </div>
  <div class="ui-g-2">
    <input type="text"  size="30" pInputText [(ngModel)]="respFormat1"/>
  </div>
  <div class="ui-g-2">

  </div>

</div>

