
<h2>Tipo pregunta verdadero o falso</h2>



<div class="ui-grid-row" >
  <div class="ui-g-6">

  </div>

  <div class="ui-g-2">
    <label>pregunta:</label>
  </div>
  <div class="ui-g-2">
    <input type="text" size="30" pInputText [(ngModel)]="question.Description"/>
  </div>
  <div class="ui-g-2">

  </div>

</div>
<div class="ui-grid-row" >
  <div class="ui-g-6">

  </div>

  <div class="ui-g-2">
    <label>Respuesta:</label>
  </div>
  <div class="ui-g-2">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g-12"><p-radioButton name="group2" value="Verdadero" label="Verdadero" [(ngModel)]="selectedValue" inputId="preopt1"></p-radioButton></div>
      <div class="ui-g-12"><p-radioButton name="group2" value="Falso" label="Falso" [(ngModel)]="selectedValue" inputId="preopt2"></p-radioButton></div>
    </div>
  <div class="ui-g-2">

  </div>

</div>
  <div class="ui-g-4">
    <button pButton type="button" (click)="save()" label="Guardar " class="ui-button-success"></button>
  </div>
