
<h1>Tipo pregunta selección única</h1>


<div class="ui-grid-row" >
  <div class="ui-g-6">

  </div>

  <div class="ui-g-2">
    <label>pregunta:</label>
  </div>
  <div class="ui-g-2">
    <input type="text" size="30" pInputText [(ngModel)]="questionFormat1"/>
  </div>
  <div class="ui-g-2">

  </div>

</div>
<div class="ui-grid-row" >
  <div class="ui-g-6">

  </div>

  <div class="ui-g-2">
    <label>Respuesta:</label>
  </div>
  <div class="ui-g-2">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-radioButton name="group2" value="A" label="Option 1" [(ngModel)]="val2" inputId="preopt1"></p-radioButton></div>
        <div class="ui-g-12"><p-radioButton name="group2" value="B" label="Option 2" [(ngModel)]="val2" inputId="preopt2"></p-radioButton></div>
        <div class="ui-g-12"><p-radioButton name="group2" value="C" label="Option 3" [(ngModel)]="val2" inputId="preopt3"></p-radioButton></div>
        <div class="ui-g-12"><p-radioButton name="group2" value="D" label="Option 4" [(ngModel)]="val2" inputId="preopt4"></p-radioButton></div>

      </div>

    </div>

</div>

  </div>

