/* You can add global styles to this file, and also import other style files */
.mt-form{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
 padding-top: 10%;
}
