
<div class="ui-grid-row" style="text-align: center">
  <p-dropdown [options]="typeQuestions" [(ngModel)]="selectedtypeQuestion" placeholder="Select a typo of question" optionLabel="label"></p-dropdown>
  <p *ngIf="selectedtypeQuestion.value === '0'">No hay pregunta seleccionada</p>
  <app-quizformat1 *ngIf="selectedtypeQuestion.value === '1'"></app-quizformat1>
  <app-mt-quizformat2 *ngIf="selectedtypeQuestion.value === '2'"></app-mt-quizformat2>
  <app-mt-quizformat3 *ngIf="selectedtypeQuestion.value === '3'"></app-mt-quizformat3>
  <app-mt-quizformat4 *ngIf="selectedtypeQuestion.value === '4'"></app-mt-quizformat4>
</div>


